<h1 style="text-align: center;" id="peer-id"></h1>
<form class="form-inline" style="text-align: center;">
	<input class="form-control" type="text" placeholder="peer id" />
	<input class="btn btn-default" type="button" value="Call" />
</div>

<script src="http://cdn.peerjs.com/0.3/peer.js"></script>
<script>
$(function() {
	var peer = new Peer({key: 'yh8a61yzwz96n7b9'});
	peer.on('open', function(id) {
		$('#peer-id').text(id);
	});
	var conn = peer.connect('example');
	console.log(conn);
});
</script>